#nav {
    display: flexbox;
    background-color: #53C7FD;
    color: #fff;
    padding: 0px 0px 0px 1px;
    margin-right: 24px;
    text-align: center;
    text-decoration: none;
}

#nav .principal {
    text-align: center;
    color: #fff;
    text-decoration: none;
}
#container a{
    text-decoration: none;
    color: #fff;
}
#container a:hover{
    color: #e5017d;
    text-decoration: none;
}